@{ 
    ViewBag.Title = "XacnhanDonhang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Don hang da duoc xac nhan</h2>
<h3>Chung toi se giao hang som</h3>
<p>@Html.ActionLink("Ve Trang Chu","Index","Home")</p>
